body {
    background-color: #eae0d7;
}

nav {
    color: #fff;
    background-color: #793e5e;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

nav ul {
    font-size: 25px;
    list-style: none;
}

.gameContainer {
    background-color: #d36aa2;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-right: 5vw;
    margin-left: 5vw;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    margin: 2vw;
}

.box {
    border: 1px black solid;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    background-color: #d97cae;
}

.info {
    font-size: larger;
}

.gameInfo {
    padding: 2vw;
}

.br-0 {
    border-right: 0;
}

.bl-0 {
    border-left: 0;
}

.bt-0 {
    border-top: 0;
}

.bb-0 {
    border-bottom: 0;
}

#reset {
    padding: 5px 10px;
    margin: 0px 15px;
    background-color: #793e5e;
    color: white;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 950px) {
    .gameContainer {
        flex-wrap: wrap;
        padding: 5vw;
    }

    .container {
        margin: 4vw;
        grid-template-columns: repeat(3, 20vw);
        grid-template-rows: repeat(3, 20vw);
    }
}